{% extends 'base.html' %}

<!-- Create Page Content -->
{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'weap-update-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endif %}
                {% if cat == 'weap-update-failed' %}
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<main class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>A Realm Reborn</h2>
            <h3>Relic Weapon: Excalibur</h3>
            <h4>{{ character.name }}</h4>
            <br/>
            {% include 'excalibur_form.html' %}
        </div>
    </div>
</main>

{% endblock content %}