{% extends 'base.html' %}

<!-- Index Page Content -->
{% block content %}

<div class="container">
    <header class="row border border-warning">
        <div class="col-12" id="header-text">
            <h2>Welcome!</h2>
            <h4>This is the FF14 Relic Weapon Tracker</h4>
        </div>
    </header>

    <section class="row border border-warning">
        <div class="col-12" id="middle-text">
            <h3>Track and save your progress</h3>
            <p>Multiple characters, across all expansions!</p>
            <h3>Access Information</h3>
            <p>Link to guides, tables and references in one place!</p>
        </div>
        <div class="hero-section">
            <img src="../../static/images/index_banner.jpg" alt="index-banner">
        </div>
    </section>
</div>

{% endblock content %}